<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>A3 リンクスキル判定</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">

  <meta property="og:title" content="A3! リンクスキルチェッカー" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://sakahukamaki.github.io/cattower/tools/a3-linkskills.html" />
  <meta property="og:image" content="https://sakahukamaki.github.io/cattower/images/a3-image.jpg" />
  <meta property="og:site_name" content="A3! リンクスキルチェッカー" />
  <meta property="og:description" content="当サイトは個人が運営する、非公式サイトです。ゲーム「A3!」における【リンクスキル】をキャラクターごとに絞り込むことができます。" />
  <meta name="twitter:card" content="summary" />

</head>
<style type="text/css">
  html {
    font-size: 16px;
  }
  .description, .result {
    display: flex;
  }
  .logo {
    margin-right: 1rem;
    width: 150px;
    height: 150px;
  }
  #members .unit{
    display: flex;
    flex-wrap: wrap;
    width: 8rem;
  }
  .charactor {
    color: white;
    border-radius: 5px;
    height: 2rem;
    min-width: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    text-align: center;
    margin: 2px;
  }
  .charactor input {
    display: none;
  }
  label.type {
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    height: 2rem;
    width: 100%;
    line-height: 2rem;
    text-align: center;
    padding: 2px;
    margin: 2px;
  }
  .type input {
    display: none;
  }

  table {
    border-collapse: collapse;
    min-width: 60vw;
  }
  th, td {
    border: 1px #bbb solid;
    text-align: left;
    padding: 0.2rem;
  }
  th {
    color: white;
  }
  th.co {
    background: orange;
    opacity: 0.8;
  }
  th.se {
    background: blue;
    opacity: 0.8;
  }
  th.ac {
    background: red;
    opacity: 0.8;
  }

  @media screen and (max-width: 500px) {
    .logo {
      margin-right: 1rem;
      width: 100px;
      height: 100px;
    }
    #linkskills {
      flex: 1;
    }
    table {
      width: 100%;
    }
    tr {
      display: flex !important;
      flex-direction: column !important;
    }
    p, th, td {
      font-size: 0.8rem;
    }
  }
  .type.co {
    opacity: 0.5;
    background: orange;
  }
  .type.co.checked{
    opacity: 1;
    background: orange;
  }
  .type.se {
    opacity: 0.5;
    background: blue;
  }
  .type.se.checked{
    opacity: 1;
    background: blue;
  }
  .type.ac {
    opacity: 0.5;
    background: red;
  }
  .type.ac.checked{
    opacity: 1;
    background: red;
  }
  .spring {
    opacity: 0.5;
    background: #ff91b2;
  }
  .spring.checked {
    opacity: 1;
    background: #ff91b2;
  }
  .summer {
    opacity: 0.5;
    background: #ffc800;
  }
  .summer.checked {
    opacity: 1;
    background: #ffc800;
  }
  .autumn {
    opacity: 0.5;
    background: #ff9b63;

  }
  .autumn.checked {
    opacity: 1;
    background: #ff9b63;
  }
  .winter {
    background: #6ac1ff;
    opacity: 0.5;
  }
  .winter.checked {
    opacity: 1;
    background: #6ac1ff;
  }
  .other {
    background: gray;
    opacity: 0.5;
  }
  .other.checked {
    opacity: 1;
    background: gray;
  }
</style>


<body>
  <div class="description">
    <h1><image class="logo" alt="A3! リンクスキルチェッカー" src="https://sakahukamaki.github.io/cattower/images/a3-image.jpg"></h1>
    <p>当サイトは個人が運営する、非公式サイトです。<br>
      ゲーム「A3!」における【リンクスキル】をキャラクターごとに絞り込むことができます。<br>
      趣味で必要になったため作成しているに過ぎず、運営、保守を続ける保証はありません。<br>
    リンクスキルの追加、間違い等ありましたら(sakahukamaki@gmail.com)までお問い合わせください。反映のお約束はできませんが、承ります。</p>
  </div>
  <div class="result">
    <div id="members">
      <div class="unit">
        <label class="type co" v-bind:class="{ checked: checkedTypes.includes('co') }">
          <input v-model="checkedTypes" value="co" checked="checked" v-on:change="update" type="checkbox">コメディスキル
        </label>
      </div>
      <div class="unit">
        <label class="type se" v-bind:class="{ checked: checkedTypes.includes('se') }">
          <input v-model="checkedTypes" value="se" checked="checked" v-on:change="update" type="checkbox">シリアススキル
        </label>
      <div class="unit">
      </div>
        <label class="type ac" v-bind:class="{ checked: checkedTypes.includes('ac') }">
          <input v-model="checkedTypes" value="ac" checked="checked" v-on:change="update" type="checkbox">アクションスキル
        </label>
      </div>
      <hr>
      <div class="unit">
        <label class="charactor spring" v-bind:class="{ checked: checkedCharactors.includes('sakuya') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="sakuya">咲也
        </label>
        <label class="charactor spring" v-bind:class="{ checked: checkedCharactors.includes('masumi') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="masumi">真澄
        </label>
        <label class="charactor spring" v-bind:class="{ checked: checkedCharactors.includes('tsuduru') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="tsuduru">綴
        </label>
        <label class="charactor spring" v-bind:class="{ checked: checkedCharactors.includes('itaru') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="itaru">至
        </label>
        <label class="charactor spring" v-bind:class="{ checked: checkedCharactors.includes('shitoron') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="shitoron"><span style="font-size: 0.7rem">シトロン</span>
        </label>
        <label class="charactor spring" v-bind:class="{ checked: checkedCharactors.includes('chikage') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="chikage">千景
        </label>
      </div>

      <div class="unit">
        <label class="charactor summer" v-bind:class="{ checked: checkedCharactors.includes('tenma') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="tenma">天馬
        </label>
        <label class="charactor summer" v-bind:class="{ checked: checkedCharactors.includes('yuki') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="yuki">幸
        </label>
        <label class="charactor summer" v-bind:class="{ checked: checkedCharactors.includes('muku') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="muku">椋
        </label>
        <label class="charactor summer" v-bind:class="{ checked: checkedCharactors.includes('misumi') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="misumi">三角
        </label>
        <label class="charactor summer" v-bind:class="{ checked: checkedCharactors.includes('kazunari') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="kazunari">一成
        </label>
        <label class="charactor summer" v-bind:class="{ checked: checkedCharactors.includes('kumon') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="kumon">九門
        </label>
      </div>

      <div class="unit">
        <label class="charactor autumn" v-bind:class="{ checked: checkedCharactors.includes('banri') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="banri">万里
        </label>
        <label class="charactor autumn" v-bind:class="{ checked: checkedCharactors.includes('juuza') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="juuza">十座
        </label>
        <label class="charactor autumn" v-bind:class="{ checked: checkedCharactors.includes('taichi') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="taichi">太一
        </label>
        <label class="charactor autumn" v-bind:class="{ checked: checkedCharactors.includes('omi') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="omi">臣
        </label>
        <label class="charactor autumn" v-bind:class="{ checked: checkedCharactors.includes('sakyo') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="sakyo">左京
        </label>
        <label class="charactor autumn" v-bind:class="{ checked: checkedCharactors.includes('azami') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="azami">莇
        </label>
      </div>

      <div class="unit">
        <label class="charactor winter" v-bind:class="{ checked: checkedCharactors.includes('tumugi') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="tumugi">紬
        </label>
        <label class="charactor winter" v-bind:class="{ checked: checkedCharactors.includes('tasuku') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="tasuku">丞
        </label>
        <label class="charactor winter" v-bind:class="{ checked: checkedCharactors.includes('hisoka') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="hisoka">密
        </label>
        <label class="charactor winter" v-bind:class="{ checked: checkedCharactors.includes('homare') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="homare">誉
        </label>
        <label class="charactor winter" v-bind:class="{ checked: checkedCharactors.includes('azuma') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="azuma">東
        </label>
        <label class="charactor winter" v-bind:class="{ checked: checkedCharactors.includes('gai') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="gai">ガイ
        </label>
      </div>

      <div class="unit">
        <label class="charactor other" v-bind:class="{ checked: checkedCharactors.includes('sakota') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="sakota">迫田
        </label>
        <label class="charactor other" v-bind:class="{ checked: checkedCharactors.includes('makita') }">
          <input type="checkbox" v-model="checkedCharactors" v-on:change="update" value="makita">槙田
        </label>
      </div>

    </div>

    <div id="linkskills">
      <table>
        <tr v-for="skill in filterdSkills">
          <th v-bind:class="skill.type">{{ skill.name }}</th><td>{{ skill.up_val }}%up</td><td>{{ skill.need_char}} </td>
        </tr>
      </table>
    </div>
  </div>
  <script type="text/javascript">
    var v = new Vue({
      el: ".result",
      data: {
        checkedTypes: [],
        checkedCharactors: [],
        filterdSkills: [],
        linkSkills: [
          {
            type: "co", charas: ["tenma", "yuki", "muku", "misumi", "kazunari", "kumon"],
            name: "新生夏組", up_val: 60, need_char: "天馬、幸、椋、三角、一成、九門",
          },
          {
            type: "co", charas: ["sakuya", "misumi", "tumugi", "hisoka", "azuma"],
            name: "フリーター2※ACT2", up_val: 51, need_char: "咲也、三角、紬、密、東",
          },
          {
            type: "co", charas: ["tsuduru", "muku", "sakyo", "tasuku", "gai"],
            name: "はがき懸賞研究会", up_val: 48, need_char: "綴、椋、左京、丞、ガイ",
          },
          {
            type: "co", charas: ["muku", "juuza", "hisoka", "azuma"],
            name: "甘党", up_val: 36, need_char: "椋、十座、密、東",
          },
          {
            type: "co", charas: ["chikage", "kumon", "azami", "gai"],
            name: "ルーキーズ", up_val: 36, need_char: "千景、九門、莇、ガイ",
          },
          {
            type: "co", charas: ["muku", "kazunari", "sakyo"],
            name: "少女漫画同好会", up_val: 24, need_char: "椋、一成、左京",
          },
          {
            type: "co", charas: ["shitoron", "misumi", "homare"],
            name: "トラブルメーカーズ", up_val: 24, need_char: "シトロン、三角、誉",
          },
          {
            type: "co", charas: ["misumi", "tumugi", "azuma"],
            name: "フリーター", up_val: 24, need_char: "三角、紬、東",
          },
          {
            type: "co", charas: ["sakuya", "masumi", "tasuku"],
            name: "満開スイミングクラブ", up_val: 24, need_char: "咲也、真澄、丞",
          },
          {
            type: "co", charas: ["kazunari", "azami", "homare"],
            name: "芸術家肌", up_val: 24, need_char: "一成、莇、誉",
          },
          {
            type: "co", charas: ["yuki", "muku", "homare"],
            name: "聖フローラ組", up_val: 24, need_char: "幸、椋、誉",
          },
          {
            type: "co", charas: ["itaru", "kumon", "taichi"],
            name: "明日こそ異世界転生", up_val: 24, need_char: "至、九門、太一",
          },
          {
            type: "co", charas: ["tsuduru", "shitoron"],
            name: "目指せ漫才の星", up_val: 12, need_char: "綴、シトロン",
          },
          {
            type: "co", charas: ["tsuduru", "homare"],
            name: "団内文芸部", up_val: 12, need_char: "綴、誉",
          },
          {
            type: "co", charas: ["yuki", "omi"],
            name: "団内手芸部", up_val: 12, need_char: "幸、臣",
          },
          {
            type: "co", charas: ["kazunari", "taichi"],
            name: "ワンワンコンビ", up_val: 12, need_char: "一成、太一",
          },
          {
            type: "co", charas: ["itaru", "homare"],
            name: "魚卵嫌い", up_val: 12, need_char: "至、誉",
          },
          {
            type: "co", charas: ["tenma", "banri"],
            name: "ショッピング仲間", up_val: 12, need_char: "天馬、万里",
          },
          {
            type: "co", charas: ["sakuya", "chikage"],
            name: "ルーキー＆リーダー春", up_val: 12, need_char: "咲也、千景",
          },
          {
            type: "ac", charas: ["banri", "juuza", "taichi", "omi", "sakyo", "azami"],
            name: "新生秋組", up_val: 60, need_char: "万里、十座、太一、臣、左京、莇",
          },
          {
            type: "ac", charas: ["shitoron", "chikage", "kumon", "omi", "tumugi"],
            name: "スパイシー料理研究会", up_val: 48,need_char: "シトロン、千景、九門、臣、紬",
          },
          {
            type: "ac", charas: ["sakuya", "tenma", "banri", "tumugi"],
            name: "リーダーズ", up_val: 36, need_char: "咲也、天馬、万里、紬",
          },
          {
            type: "ac", charas: ["tsuduru", "omi", "azami", "tasuku"],
            name: "団内サッカー部", up_val: 36, need_char: "綴、臣、莇、丞",
          },
          {
            type: "ac", charas: ["sakyo", "azami", "sakota", "makita"],
            name: "銀泉会", up_val: 36, need_char: "左京、莇、迫田、槙田",
          },
          {
            type: "ac", charas: ["shitoron", "yuki", "tasuku"],
            name: "歌舞伎好き2※ACT2", up_val: 27, need_char: "シトロン、幸、丞",
          },
          {
            type: "ac", charas: ["shitoron", "yuki", "tasuku"],
            name: "歌舞伎好き", up_val: 24, need_char: "シトロン、幸、丞",
          },
          {
            type: "ac", charas: ["tenma", "juuza", "taichi"],
            name: "欧華高校組", up_val: 24, need_char: "天馬、十座、太一",
          },
          {
            type: "ac", charas: ["muku", "misumi", "hisoka"],
            name: "50m走ベストタイム", up_val: 24, need_char: "椋、三角、密",
          },
          {
            type: "ac", charas: ["masumi", "chikage", "yuki"],
            name: "毒舌", up_val: 24, need_char: "真澄、千景、幸",
          },
          {
            type: "ac", charas: ["masumi", "tenma"],
            name: "両親が海外2※ACT2", up_val: 15, need_char: "真澄、天馬",
          },
          {
            type: "ac", charas: ["itaru", "taichi"],
            name: "ジャンクフーダー2※ACT2", up_val: 15, need_char: "至、太一",
          },
          {
            type: "ac", charas: ["hisoka", "homare"],
            name: "マシュマロ供給2※ACT2", up_val: 15, need_char: "密、誉",
          },
          {
            type: "ac", charas: ["azami", "azuma"],
            name: "保湿の鬼※ACT2", up_val: 15, need_char: "莇、東",
          },
          {
            type: "ac", charas: ["kumon", "sakyo"],
            name: "あやとり検定※ACT2", up_val: 15, need_char: "九門、左京",
          },
          {
            type: "ac", charas: ["muku", "gai"],
            name: "未来の王子様育成※ACT2", up_val: 15, need_char: "椋、ガイ",
          },
          {
            type: "ac", charas: ["sakuya", "juuza"],
            name: "ひたむきボーイズ", up_val: 12, need_char: "咲也、十座",
          },
          {
            type: "ac", charas: ["masumi", "tenma"],
            name: "両親が海外", up_val: 12, need_char: "真澄、天馬",
          },
          {
            type: "ac", charas: ["itaru", "banri"],
            name: "ゲーマー部", up_val: 12, need_char: "至、万里",
          },
          {
            type: "ac", charas: ["itaru", "taichi"],
            name: "ジャンクフーダー", up_val: 12, need_char: "至、太一",
          },
          {
            type: "ac", charas: ["tumugi", "tasuku"],
            name: "おさななじみ", up_val: 12, need_char: "紬、丞",
          },
          {
            type: "ac", charas: ["hisoka", "homare"],
            name: "マシュマロ供給", up_val: 12, need_char: "密、誉",
          },
          {
            type: "ac", charas: ["kazunari", "azuma"],
            name: "海外旅行マニア", up_val: 12, need_char: "一成、東",
          },
          {
            type: "ac", charas: ["tenma", "kumon"],
            name: "ルーキー＆リーダー夏", up_val: 12, need_char: "天馬、九門",
          },
          {
            type: "ac", charas: ["tumugi", "gai"],
            name: "ルーキー＆リーダー冬", up_val: 12, need_char: "紬、ガイ",
          },
          {
            type: "ac", charas: ["misumi", "gai"],
            name: "さんかく密輸し隊", up_val: 12, need_char: "三角、ガイ",
          },
          {
            type: "se", charas: ["sakuya", "masumi", "tsuduru", "itaru", "chikage", "shitoron"],
            name: "新生春組", up_val: 60, need_char: "咲也、真澄、綴、至、シトロン、千景",
          },
          {
            type: "se", charas: ["tumugi", "tasuku", "hisoka", "homare", "azuma", "gai"],
            name: "新生冬組", up_val: 60, need_char: "紬、丞、密、誉、東、ガイ",
          },
          {
            type: "se", charas: ["itaru", "misumi", "taichi", "azami", "gai"],
            name: "将棋部", up_val: 48, need_char: "至、三角、太一、莇、ガイ",
          },
          {
            type: "se", charas: ["shitoron", "kazunari", "sakyo", "azuma"],
            name: "団内麻雀部", up_val: 36, need_char: "シトロン、一成、左京、東",
          },
          {
            type: "se", charas: ["sakuya", "chikage", "hisoka", "azuma"],
            name: "天涯孤独", up_val: 36, need_char: "咲也、千景、密、東",
          },
          {
            type: "se", charas: ["tsuduru", "juuza", "omi"],
            name: "葉星大学組2※ACT2", up_val: 27, need_char: "綴、十座、臣",
          },
          {
            type: "se", charas: ["sakuya", "masumi", "banri"],
            name: "花咲学園組", up_val: 24, need_char: "咲也、真澄、万里",
          },
          {
            type: "se", charas: ["misumi", "sakyo", "azuma"],
            name: "大人のおにぎりクラブ", up_val: 24, need_char: "三角、左京、東",
          },
          {
            type: "se", charas: ["muku", "kumon", "juuza"],
            name: "いとこ同士", up_val: 24, need_char: "椋、九門、十座",
          },
          {
            type: "se", charas: ["kazunari", "banri"],
            name: "天鵞絨美術大学組※ACT2", up_val: 15, need_char: "一成、万里",
          },
          {
            type: "se", charas: ["chikage", "tasuku"],
            name: "団内修理部※ACT2", up_val: 15, need_char: "千景、丞",
          },
          {
            type: "se", charas: ["masumi", "hisoka"],
            name: "寝る子は育つ", up_val: 12, need_char: "真澄、密",
          },
          {
            type: "se", charas: ["tsuduru", "omi"],
            name: "葉星大学組", up_val: 12, need_char: "綴、臣",
          },
          {
            type: "se", charas: ["itaru", "tumugi"],
            name: "教え上手", up_val: 12, need_char: "至、紬",
          },
          {
            type: "se", charas: ["taichi", "tasuku"],
            name: "Gの洗礼", up_val: 12, need_char: "太一、丞",
          },
          {
            type: "se", charas: ["omi", "sakyo"],
            name: "元ヤン", up_val: 12, need_char: "臣、左京",
          },
          {
            type: "se", charas: ["tenma", "yuki"],
            name: "夏組の火薬庫", up_val: 12, need_char: "天馬、幸",
          },
          {
            type: "se", charas: ["banri", "azami"],
            name: "リーダー＆ルーキー秋", up_val: 12, need_char: "万里、莇",
          },
        ]
      },
      methods: {
        update: function(event) {
          this.filterdSkills = this.linkSkills.filter(function(skill) {
            if (v.checkedCharactors.length == 0) {
              return v.checkedTypes.includes(skill.type)
            } else {
              var typeIncludes = false
              if (v.checkedTypes.length == 0) {
                typeIncludes = true
              } else  {
                typeIncludes = v.checkedTypes.includes(skill.type)
              }
              var charaIncludes = skill.charas.filter(function(c){
                return v.checkedCharactors.includes(c)
              }).length > 0
              return typeIncludes && charaIncludes;
            }
          })
        },
      },
    })
  </script>

  <hr>

  <div class="thx">
    参考（敬称略）
    <ul>
      <li>「B'sLOG.com」<a href="https://www.bs-log.com/20170207_963667/">【A3!（エースリー）攻略】リンクスキル効果と対応ユニットまとめ（随時更新）</a></li>
      <li>「A3！を効率的に攻略する」<a href=http://www.a3kouryaku.com/archives/5499592.html">リンクスキル一覧（簡易版）</a></li>
    </ul>
  </div>
</body>
</html>